{% extends "base.html" %}
{% block title %}{{ page_title }} {% endblock %}
{% block content %}
<div class="scores">
    <br>
    {% for league in leagues %}
    
    {% if league.league_number == 1 %}
    <h2>{{ league.league_name }} League - Standings and Schedule</h2>
    <br>  
    <h3>Roster | Schedule | Stats</h3>
    <a href="{{ league.link }}" target="blank"><img class="scores-icon" src="/static/images/scores_schedule.png"></a>
    <br>
    {% endif %}
    {% endfor %}
    <br>
</div>
<br>

{% endblock %}

