{% extends "base.html" %}
{% block title %}{{ page_title }} {% endblock %}
{% block content %}
<div class="admin-section">
    <br>
<h2>Quick Links</h2>
<h4>Add Quick Link</h4>
<form action="/add_quick_link" method="POST">
    <div class="login-form">
        <label for="name">Description</label>

        <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Resource Description"></textarea>
        <br>
    </div>
    <div class="login-form">
        <label for="name">Link</label>

        <textarea type="text" class="form-control" id="link" name="link" placeholder="Enter Resource Link"></textarea>
        <br>
    </div>
    <div class="login-form">
        <label for="link">Quick Link Rank</label>

        <input type="text" class="form-control" id="rank" name="rank" placeholder="Enter Rank Of Quick Link">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class="admin-table">
    <tr>
        <th colspan="5">Existing Quick Links</th>
    </tr>
    <tr>
        <th>Description</th>
        <th>Link</th>
        <th>Rank</th>
        <th>Action</th>
    </tr>
    {% for quick_link in quick_links %}
    <tr>
        <td>{{ quick_link.description }}</td>
        <td>{{ quick_link.link }}</td>
        <td>{{ quick_link.rank }}</td>
        <td><a href="/update-quick_link/{{ quick_link.id }}">Update</td>
    </tr>
    {% endfor %}
</table>
<br>
<hr>
</div>
<br>
<div class="admin-section">
    <br>
<h2>Announcement Items</h2>
<h4>Add Announcement</h4>
<form action="/add_announcement_item" method="POST">
    <div class="login-form">
        <label for="name">Announcement</label>

        <textarea type="text" class="form-control" id="item" name="item" placeholder="Enter Announcement"></textarea>
        <br>
    </div>
    <div class="login-form">
        <label for="name">Date Posted</label>

        <input type="text" class="form-control" id="date" name="date" placeholder="Enter Date Posted"></input>
        <br>
    </div>

    <div class="login-form">
        <label for="link">Announcement Rank</label>

        <input type="text" class="form-control" id="rank" name="rank" placeholder="Enter Rank Of Announcement">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class="admin-table">
    <tr>
        <th colspan="5">Existing Announcements</th>
    </tr>
    <tr>
        <th>Announcements</th>
        <th>Date Created</th>
        <th>Rank</th>
        <th>Action</th>
    </tr>
    {% for announcement in announcement_items %}
    <tr>
        <td>{{ announcement.announcement_item }}</td>
        <td>{{ announcement.date_created }}</td>
        <td>{{ announcement.rank }}</td>
        <td><a href="/update-announcement/{{ announcement.id }}">Update</td>
    </tr>
    {% endfor %}
</table>
<br>
<hr>
</div>
<br>
<div class="admin-section">
    <br>
<h2>Resources</h2>
<h4>Add Resource</h4>
<form action="/add_resource" method="POST">
    <div class="login-form">
        <label for="name">Heading</label>

        <input type="text" class="form-control" id="heading" name="heading" placeholder="Enter Heading"></input>
        <br>
    </div>
    <div class="login-form">
        <label for="name">Description</label>

        <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Resource Description"></textarea>
        <br>
    </div>
    <div class="login-form">
        <label for="name">Link</label>

        <textarea type="text" class="form-control" id="link" name="link" placeholder="Enter Resource Link"></textarea>
        <br>
    </div>
    <div class="login-form">
        <label for="link">Resource Rank</label>

        <input type="text" class="form-control" id="rank" name="rank" placeholder="Enter Rank Of Resource">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class="admin-table">
    <tr>
        <th colspan="5">Existing Resources</th>
    </tr>
    <tr>
        <th>Heading</th>
        <th>Description</th>
        <th>Link</th>
        <th>Rank</th>
        <th>Action</th>
    </tr>
    {% for resource in resources %}
    <tr>
        <td>{{ resource.heading }}</td>
        <td>{{ resource.description }}</td>
        <td>{{ resource.link }}</td>
        <td>{{ resource.rank }}</td>
        <td><a href="/update-resource/{{ resource.id }}">Update</td>
    </tr>
    {% endfor %}
</table>
<br>
<hr>
</div>
<br>

<div class="admin-section">
    <br>
<h2>Squash Leagues</h2>
<table class="admin-table">
    <tr>
        <th colspan="10">Leagues</th>
    </tr>
    <tr>
        <th>League Number</th>
        <th>League Name</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Link To Spreadsheet</th>
        <th>Action</th>
    </tr>
    {% for league in leagues %}
    <tr>
        <td>{{ league.league_number }}</td>
        <td>{{ league.league_name }}</td>
        <td>{{ league.contact_name }}</td>
        <td>{{ league.email }}</td>
        <td>{{ league.link }}</td>
        <td><a href="/update-league/{{ league.id }}">Update</td>
    </tr>
    {% endfor %}
</table>
<br>
<h4>Add New League</h4>
<form action="/add_league_info" method="POST">
    <div class="login-form">
        <label for="name">League Number (1-5)</label>
        <input type="text" class="form-control" id="league_number" name="league_number" placeholder="League Number (1-5)">
        <br>
    </div>

    <div class="login-form">
        <label for="name">League Name</label>
        <input type="text" class="form-control" id="league_name" name="league_name" placeholder="League Name">
        <br>
    </div>

    <div class="login-form">
        <label for="name">Contact Name For League</label>
        <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Contact Name">
        <br>
    </div>

    <div class="login-form">
        <label for="name">Email Address For Contact</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Contact Email Address">
        <br>
    </div>

    <div class="login-form">
        <label for="link">Link To Spreadsheet</label>
        <textarea type="text" class="form-control" id="link" name="link" placeholder="Enter Link To Spreadsheet"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<hr>    
</div>
<br>

<div class="admin-section">
    <br>
    <h2>Existing Admin Users</h2>

    <table class="admin-table">
        <tr>
            <th>User Names</th>
            <th>Action</th>
        </tr>
        {% for u in all_users %}
        <tr>
            <td>{{ u.name }}</td>
            <td><a href="/delete-admin/{{ u.id }}">Delete Admin User</td>
        </tr>
        {% endfor %}
    </table>
    <br>  
    <hr>  
</div>

<br>
<div class="admin-section">
    <br>
    <h4>Secret Code To Create An Account: {{ secret_code }}</h4>

</div>

{% endblock %}

