{% extends "base.html" %}
{% block title %}{{ page_title }} {% endblock %}
{% block content %}
<div class="home-page">
<h4>Welcome to the Brampton Squash Leagues. New players are always welcome!</h4>
<hr>

<div class="announcement">
    <table class="table-announcement">
        <tr>
            <th style="padding-left: 15px">Quick Links</th>
        </tr>
        {% for quick_link in quick_links %}
        <tr>
            <td style="padding-left: 5px">{{ quick_link.description }}</a></td>
        </tr>
        <tr style="border-bottom: 1px solid;">
            <td style="padding-left: 15px"><a href="{{ quick_link.link }}" target="blank">Link To Page</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
</div>

<div class="announcement">
    <table class="table-announcement">
        <tr>
            <th style="padding-left: 15px">Announcements</th>
        </tr>
        {% for announcement in announcement_items %}
        <tr>
            <td style="padding-left: 5px">{{ announcement.date_created }}</td>
        </tr>
        <tr style="border-bottom: 1px solid;">
            <td style="padding-left: 15px">{{ announcement.announcement_item }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
</div>




<div class="resources">
    <table class="table-resources">
        <tr>
            <th style="padding-left: 15px">Resources</th>
        </tr>
        {% for resource in resources %}
        {% if resource.heading|length > 1 %}
        <tr>
            <td style="padding-left: 5px"><b>{{ resource.heading }}</b></td>
        </tr>
        {% endif %}
        <tr>
            <td style="padding-left: 15px">{{ resource.description }}</td>
        </tr>
        {% if resource.link|length > 1 %}
        <tr style="border-bottom: 1px solid;">
            <td style="padding-left: 15px"><a href="{{ resource.link }}" target="blank">Link To Resource</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}

